<p>Add a course to $student.getName()</p>

<form action="/courses" method="post">
  <input id="studentId" name="studentId" type="hidden" value="$student.getId()">

  <div class="form-group">
    <label for="course_name">CourseName</label>
    <input id="course_name" name="course_name" type="text" class="form-control">
  </div>

  <button type="submit" class="btn btn-success">Add Course</button>
</form>
