<p>Add a student:</p>

<form action="/students" method="post">
  <label for="name">Course CourseName</label>
  <input id="name" name="name" type="text">

  <button type="submit" class="btn btn-default">Add Student</button>
</form>
