<h1>All courses</h1>

<ul>
  #foreach ($course in $courses)
    <li><a href="/courses/$course.getId()">$course.getCourseTitle()</a></li>
  #end
</ul>

<p>Add a new course:</p>

<form action="/courses" method="post">
  <label for="course_title">Course course_title</label>
  <input id="course_title" name="course_title" type="text">
  <button type="submit" class="btn btn-success">Add Course</button>
</form>

<p><a href="/">Home</a></p>
